.Button {
    background-color:rgb(160, 218, 113);
    border-radius: 1rem;
}

.welcome-text{
    font-size: 1.8rem
}

.field {
    margin-top: 2vh;
}

.field-form {
    height: 16%;
    width: 23.5vw;
    border-radius: 1rem;
    background-color: rgb(32, 30, 46);  
    color: rgb(203, 200, 228);
    border-color: black;  
    margin: 0.5vh;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(203, 200, 228);
    opacity: 1; /* Firefox */
}

.login-button {
    margin: 2%;
    margin-left: 40%;
}

.third-party-login {
    color: rgb(203, 200, 228);
    font-size: 0.8rem;
    text-align: center;
}

.divider {
    border-color: rgb(203, 200, 228);
}

.password-forgot {
    color: rgb(203, 200, 228);
    font-size: 85%;
    margin-top: -9.3%;
    margin-left: 52%;
}

.el_checkbox__original {
    width: 0.5vh;
    height: 1vw;
}

.login-google {
    margin-top: 10%;
    height: 10vh;
}

.form-group {
    color: rgb(203, 200, 228);
    text-align: left;
}

.form-check-label {
    color: rgb(203, 200, 228)
}

.login-submit {
    margin-left: 0vw;
}

.btn-submit {
    width: 10rem
}

.third-party-buttons {
    margin: 6vh
}

.logo-header {
    width: 16rem;
    height: 10rem
}

.container-style {
    background-color: rgb(90, 85, 121);
    margin: auto;
    border-radius: 1vh;
    color: rgb(203, 200, 228);
    text-align: center;
    height: 35rem;
    width: 45%;
    min-width: 350px;
}