/*.drop-downs{*/
    /*width: 270px;*/
    /*height: 50px;*/
    /*overflow: scroll;*/
/*}*/

.wrap{
    white-space: pre-wrap;
    width: 250px;
    border-bottom: 1px solid;
}

.box-size{
    max-height: 270px;
    overflow-y: scroll;
}