/* Sets dimensions to fill parent*/
/* ONLY shows scroll if content exceeds parent*/
.accordion-jobassign-desktop {
    height: fill;
    width: fill;
    overflow-y: auto;
}

/*Buttons*/

.btn-submit {
    background-color: var(--button_green);
    border-color: var(--button_border);
    color: var(--dark_font_color);
    box-shadow: 4px 5px 10px rgb(116, 115, 113);
}

.btn-submit {
    width: 10rem
}

.btn-submit:hover, .btn-submit:focus {
    background-color: rgb(216, 215, 223);
    border-color: var(--button_border);
    color: var(--dark_font_color);
}

.btn-main, .btn-main:hover, .btn-main:focus {
    background-color: rgb(203, 200, 228);
    border-color: rgb(79, 75, 107);
    color: rgb(53, 46, 66);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    background-color: rgb(90, 85, 121);
    border-color: rgb(79, 75, 107);
    color: rgb(203, 200, 228);
}

.btn-link {
    color: rgb(203, 200, 228);
}

.btn-link:hover {
    color: rgb(207, 210, 199);
}

.btn-assign {
    border-color: rgb(203, 200, 228);
    color: rgb(203, 200, 228);
}

.btn-confirmation {
  background-color: rgb(166, 165, 159);
  border-color: rgb(117, 116, 114);
  color: rgb(41, 40, 40);
}

.btn-confirmation:hover, .btn-submit:focus {
  background-color: rgb(179, 178, 173);
  border-color: rgb(176, 179, 171);
  color: rgb(39, 39, 38);
}




.card-borderless {
    border: none;
}

.card-header-purple {
    background-color: rgb(90, 85, 121);
    text-align: center;
    border-bottom: none;
}

.card-body-green {
    background-color: rgb(218, 217, 216);
}

.card-title {
    color: white;
}

.card-subtitle {
    color: rgb(203, 200, 228);
}

.card-text{
    color: white;
}

.card-scroll {
    background-color: rgb(90, 85, 121);
    overflow-y: auto;
    overflow-x: auto;
    width: 65%;
}

/*@media (max-width: 48em) {
    .card-scroll {
        width: 100%;
    }   
}*/



.closer-p {
    margin-bottom: 0.1rem;
}



.el-tree-node__content {
    border-radius: 0.5rem;
}


.job-manage-header {
    color: rgb(203, 200, 228);
    text-align: center;
}

.jobs-list-header {
    overflow-x: auto;
}


.modal-header-confirm {
  background-color: rgb(90, 85, 121);
  border-color: rgb(79, 75, 107);
  color: rgb(203, 200, 228);
  border-bottom: 0px solid black;
  padding: 1rem 1rem 0.5rem 1rem;
}

.modal-content-confirm {
  background-color: rgb(90, 85, 121);
  color: rgb(203, 200, 228);
}

.modal-footer-confirm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 1rem 1rem 1rem;
    border-top: 0px solid black;
}

