::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--button_dark);
    opacity: 1; /* Firefox */
}

.third-party-login {
    color: var(--light_font_color);
    text-align: center;
}

.divider {
    border-color: var(--light_font_color);
}

.center-container {
    float: center
}


.third-party-buttons {
    margin: 2.5em;
}

.logo-header {
    width: 16em;
    height: 10em;
}

.container-style {
    background-color: var(--button_v_dark);
    border-radius: 5px;
    color: var(--light_font_color);
    text-align: center;
    height: 35rem;
    width: 45%;
    min-width: 320px;
}

.forgot-acc {
    cursor: pointer;
}

.forgot-acc:hover {
    text-decoration: underline;
}

.fa {
    color: var(--light_font_color);
}

.fb-button {
    background-color: #3b5998;
}

.fb-button:hover {
    background-color: #3b5998;
}

.gg-button {
    background-color: #dd4b39;
}

.gg-button:hover {
    background-color: #dd4b39;
}

.fa-facebook:hover {
    color: white;
    text-decoration: none
}

.fa-google:hover {
    color: white;
    text-decoration: none
}

.submit-forgot {
    background-color: var(--button_light);
    border: none;
    color: var(--dark_font_color);
}

.submit-forgot:focus, .submit-forgot:hover {
    background-color: var(--button_medium);
    border: none;
    color: var(--dark_font_color);
}

.container-forgot {
    border-radius: 5px;
    text-align: center;
    width: 45%;
    min-width: 320px;
    position: center;
}

.return-to-login {
    padding: 2%;
    text-align: left;
    color: black
}

.return-to-login:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text-black {
    color: black;
}