html {
  height: 100%;
}

body {
  /* margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background: rgb(32, 30, 46);  /* fallback for old browsers */
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Nav */

.bg-purple {
  background-color: rgb(90, 85, 121);
  border-color: rgb(79, 75, 107);
  color: rgb(203, 200, 228);
}

.navbar a {
  font-weight: bold;
  color: rgb(203, 200, 228);
}

.navbar a:hover {
  color: rgb(203, 200, 228);
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  height: 30px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

.navbar-header {
  margin: 0 auto;
}

/* Entities */

.table thead th {
  border-bottom: none;
}

.table td, .table th {
  border-top: none;
}

.table thead tr{
  background-color: rgb(90, 85, 121);
  color: rgb(203, 200, 228);
}

.table tbody tr:nth-child(odd){
  background-color: rgb(165, 176, 214);
  color: rgb(53, 46, 66);
}

.table tbody tr:nth-child(odd):hover {
  background-color: rgb(127, 135, 165);
  color: rgb(53, 46, 66);
}

.table tbody tr:nth-child(even){
  background-color: rgb(90, 85, 121);
  color: rgb(203, 200, 228);
}



.table tbody tr:nth-child(even):hover {
  background-color: rgb(66, 62, 90);
  color: rgb(203, 200, 228);
}

.popup-form {
  margin-top: 25px;
  margin-bottom: 50px;
}

.btn-submit {
  background-color: rgb(160, 218, 113);
  border-color: rgb(160, 218, 113);
  color: rgb(53, 46, 66);
}

.btn-submit:hover, .btn-submit:focus {
  background-color: rgb(130, 179, 91);
  border-color: rgb(130, 179, 91);
  color: rgb(53, 46, 66);
}

.btn-main, .btn-main:hover, .btn-main:focus {
    background-color: rgb(203, 200, 228);
    border-color: rgb(79, 75, 107);
    color: rgb(53, 46, 66);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    background-color: rgb(90, 85, 121);
    border-color: rgb(79, 75, 107);
    color: rgb(203, 200, 228);
}

.modal-header {
  background-color: rgb(90, 85, 121);
  border-color: rgb(79, 75, 107);
  color: rgb(203, 200, 228);
}
.modal-content {
  background-color: rgb(32, 30, 46);
  color: rgb(203, 200, 228);
}

.close {
  color: rgb(203, 200, 228);
  text-shadow: none;
}

.search {
    color: rgb(90, 85, 121);
    border-color: rgb(79, 75, 107);
    background-color: rgb(203, 200, 228);
    padding: 5px 20px;
    border-radius: 5px;
    float: right;
}

.search:focus {
  background-color: rgb(203, 200, 228);
}
/* Transitions */
.page {
  position: absolute;
  margin-top: 20px;
  left: 0;
  right: 0;
}
.fade-appear
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms linear 250ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms linear;
}

/* Loading Rings  */
@keyframes lds-double-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-double-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lds-double-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes lds-double-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.lds-double-ring {
  margin: auto;
  position: relative;
  width:100%;
  height:100%
}
.lds-double-ring div {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #a0da71 transparent #a0da71 transparent;
  -webkit-animation: lds-double-ring 1.2s linear infinite;
  animation: lds-double-ring 1.2s linear infinite;
}
.lds-double-ring div:nth-child(2) {
  width: 140px;
  height: 140px;
  top: 30px;
  left: 30px;
  border-color: transparent #cbc8e4 transparent #cbc8e4;
  -webkit-animation: lds-double-ring_reverse 1.2s linear infinite;
  animation: lds-double-ring_reverse 1.2s linear infinite;
}
.lds-double-ring {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);

}