:root{
    --background: rgb(215, 215, 215);
    --button_green: rgb(178, 178, 178);
    --button_border: rgb(153, 153, 153);
    --table_dark_purple: rgb(91, 91, 91);
    --table_light_purple: rgb(198, 198, 198);
    --dark_font_color: rgb(64, 64, 66);
    --light_font_color: rgb(214, 214, 214);
    --table_delete_button: rgb(118, 118, 118);
    --table_edit_button: rgb(212, 209, 215);
}

html {
  height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0
}

body {
  /* margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  /*Main Background  */
  background: var(--background);  /* fallback for old browsers */
  height: 100%;
  width: 100%;
}

/*jumbotron image*/
.image-bg {
    background-image: url("images/pattern4.svg");
    /*border: 1px rgb(191, 190, 188) solid;*/
    box-shadow: 5px 6px 10px rgb(89, 88, 87);
}

/*Scrollbar*/
/* width */

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #636363;
}


#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navigation Bar */
.bg-purple {
    background-color: rgba(24, 24, 24, 0.84);
    border-color: rgb(162, 162, 162);
    color: rgb(203, 200, 228);
}

.navbar a {
  font-weight: bold;
  color: rgb(203, 200, 228);
}

/*.clara {*/
    /*font-weight: bold;*/
    /*color: rgb(203, 200, 228);*/
/*}*/

.navbar a:hover {
  color: rgb(203, 200, 228);
  text-decoration: underline;
  cursor: pointer;
}

.save-changes-btn {
  background-color: var(--button_green);
  border: none;
  color: rgb(53, 46, 66)
}

/*This is for the FTMS logo*/
.navbar-brand > img {
  display: inline-block;
  height: 30px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

.navbar-header {
  margin: 0 auto;
}

/* Entities */

.table thead th {
  border-bottom: none;
}

.table td, .table th {
  border-top: none;
}

/*Head of the table*/

.table-shadow{
    box-shadow: 4px 5px 10px rgb(97, 96, 95);
    border-color: var(--table_dark_purple);
}

.table thead tr{
  background-color: rgba(24, 24, 24, 0.84);
  color: var(--light_font_color);
}
#table-job-all thead tr{
    background-color: rgba(24, 24, 24, 0.84);
    color: var(--light_font_color);
}

/*Body of the table*/

/*Dark Rows*/
.table tbody tr:nth-child(even){
    background-color: var(--table_dark_purple);
    color: var(--light_font_color);
}

.table tbody tr:nth-child(even):hover {
    background-color: rgb(111, 111, 111);
    color: var(--light_font_color);
}

/*light Rows*/

.table tbody tr:nth-child(odd){
  background-color: var(--table_light_purple);
  color: var(--dark_font_color);
}

.table tbody tr:nth-child(odd):hover {
    background-color: rgb(179, 177, 184);
    color: var(--dark_font_color);
}
/*Light Rows*/

#table-job-all tbody tr:nth-child(odd){
  background-color: var(--table_light_purple);
  color: rgb(53, 46, 66);
}

#table-job-all tbody tr:nth-child(odd):hover {
    background-color: rgb(127, 135, 165);
    color: rgb(53, 46, 66);
}

/*Dark Rows*/

#table-job-all tbody tr:nth-child(even):hover {
  background-color: rgb(66, 62, 90);
  color: rgb(203, 200, 228);
}


#table-job tbody tr:nth-child(odd) {
  background-color: rgb(127, 135, 165);
  color: rgb(53, 46, 66);
}

.popup-form {
  margin-top: 25px;
  margin-bottom: 50px;
}


/*Buttons*/

.btn-submit {
  background-color: var(--button_green);
  border-color: var(--button_border);
  color: var(--dark_font_color);
    box-shadow: 4px 5px 10px rgb(97, 96, 95);
}

.btn-submit:hover, .btn-submit:focus {
  background-color: rgb(189, 189, 189);
  border-color:var(--button_border);
  color: var(--dark_font_color);
}

.btn-main, .btn-main:hover, .btn-main:focus {
    background-color: rgb(203, 200, 228);
    border-color: rgb(79, 75, 107);
    color: rgb(53, 46, 66);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    background-color: rgb(90, 85, 121);
    border-color: rgb(79, 75, 107);
    color: rgb(203, 200, 228);
}

.modal-header {
  background-color: rgb(90, 85, 121);
  border-color: rgb(79, 75, 107);
  color: rgb(203, 200, 228);
}

.modal-content {
  background-color: rgb(32, 30, 46);
  color: rgb(203, 200, 228);
}

.close {
  color: rgb(203, 200, 228);
  text-shadow: none;
}

/*Delete and edit icons*/
.el-icon-edit {
    color: rgb(114, 114, 114);
}

.el-icon-edit:hover {
    color: var(--table_dark_purple)
}

.el-icon-edit {
    color: rgb(114, 114, 114);
}

.el-icon-delete:hover {
    color: rgb(192, 196, 197)
}

/*The search bar*/
::placeholder {
    color: red;
    opacity: 1;
}
.search {
    color: var(--dark_font_color);
    border-color: rgb(189, 183, 208);
    padding: 5px 20px;
    border-radius: 5px;
    float: right;
    background-color: rgb(222, 219, 226)
}
/* The Loading Rings Animation */
@keyframes lds-double-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-double-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lds-double-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes lds-double-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.lds-double-ring {
  margin: auto;
  position: relative;
  width:100%;
  height:100%
}
.lds-double-ring div {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: var(--table_dark_purple) transparent var(--table_dark_purple) transparent;
  -webkit-animation: lds-double-ring 1.2s linear infinite;
  animation: lds-double-ring 1.2s linear infinite;
}
.lds-double-ring div:nth-child(2) {
  width: 140px;
  height: 140px;
  top: 30px;
  left: 30px;
  border-color: transparent #dedbf7 transparent #dedbf7;
  -webkit-animation: lds-double-ring_reverse 1.2s linear infinite;
  animation: lds-double-ring_reverse 1.2s linear infinite;
}
.lds-double-ring {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);

}
/*.clara-margins-container{*/
    /*font-family: SansSerif;*/
/*}**/


.bg_page_title{
    background-color: rgba(191, 191, 191, 0.68);
    border-color: rgb(126, 124, 124);
    /*color: rgb(203, 200, 228);*/
}



html,
body {
	font-size: 14px !important;
}
h1 {
	font-size: 1.602em;
}
h2 {
	font-size: 1.424em;
}
h3 {
	font-size: 1.266em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 0.889em;
}
h6 {
	font-size: 0.79em;
}
.display-1 {
	font-size: 3.906em;
}
.display-2 {
	font-size: 3.125em;
}
.display-3 {
	font-size: 2.5em;
}
.display-4 {
	font-size: 2em;
}

@media (min-width: 48em) {
	h1 {
	  font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}
	h4 {
		font-size: 1.25em;
	}
	.display-1 {
		font-size: 6em;
	}
	.display-2 {
		font-size: 5.5em;
	}
	.display-3 {
		font-size: 4.5em;
	}
	.display-4 {
		font-size: 3.5em;
	}
}

@media (min-width: 62em) {
	html,
	body {
		font-size: 16px !important;
	}
}

@media (min-width: 75em) {
	html,
	body {
		font-size: 18px !important;
	}
}