.jobs-list {
    margin-left: 3rem;
    margin-top: -36rem;
}

.divider {
    border-color: rgb(203, 200, 228);
    size: 1rem;
    margin-top: -1rem;
}

.task-table-header {
    text-align: center;
    margin-left: 3.7rem;
    line-height: 4rem;
    font-size: 1.8rem;
}

.employees-table-header {
    margin-left: 4.5rem;
    line-height: 4rem;
    font-size: 1.8rem; 
}

.choose-task-button {
    margin: 3rem;
    margin-left: 3.75rem
}

.all-tasks {
    margin-top: -1.3rem;
}

.divider-jobs {
    border-color: rgb(203, 200, 228);
    size: 1rem;
    margin-top: 0.4rem;
}

.employees-list {
    margin-left: 50rem;
    margin-top: 3rem
}

.confirmation {
    margin-top: -36rem;
    margin-left: 28rem
}

.el-tree-node__content {
    border-radius: 0.5rem
}