.card {
    width: 20vw;
    border: none;
}

.card-header {
    background-color: rgb(90, 85, 121);
    text-align: center;
    border-bottom: none;
}

.card-body {
    font-size: 1vw;
}

.card-body-green {
    background-color: rgb(160, 218, 113);
}

.card-title {
    color: white;
    font-size: 2vw;
}

.card-subtitle {
    color: rgb(203, 200, 228);
    font-size: 1.6vw;
}

.card-text{
    color: white;
    font-size: 1.5vw;
}

.card-scroll {
    background-color: rgb(90, 85, 121);
    /*overflow-y: scroll;
    overflow-x: scroll;*/
}




.btn-link {
    font-size: 1.2vw;
    width: -1vw;
    color: rgb(203, 200, 228);
}

.btn-link:hover {
    color: rgb(160, 218, 113);
}

.btn-assign {
    border-color: rgb(203, 200, 228);
    color: rgb(203, 200, 228);
}





.el-tree-node__content {
    border-radius: 0.5rem;
}

.el-icon-delete:hover {
    color: rgb(160, 218, 113);
}



.list-group-item-action {
    width: 25vw;
}

.list-header {
    color: rgb(203, 200, 228);
    font-size: 2vw;
}



.accordion {
    max-height: 50vh;
    /*overflow-y: scroll;*/
}

.job-manage-header {
    color: rgb(203, 200, 228);
    text-align: center;
    font-size: 2vw;
}

.jobs-list-header {
    /*overflow-x: scroll;*/
}



.modal-header-confirm {
  background-color: rgb(90, 85, 121);
  border-color: rgb(79, 75, 107);
  color: rgb(203, 200, 228);
  border-bottom: 0px solid black;
  padding: 1rem 1rem 0.5rem 1rem;
}

.modal-content-confirm {
  background-color: rgb(90, 85, 121);
  color: rgb(203, 200, 228);
}

.modal-footer-confirm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 1rem 1rem 1rem;
    border-top: 0px solid black;
}


.closer-p {
    margin-bottom: 0.1rem;
}
